h2 {
  background-color : #DDDDDD;
  padding : 20px;
  margin-top : 0;
  font-size : 18px;
  text-align : center;
  text-transform : uppercase;
}

#content_news
{
  width : 80%;
  margin : auto;
  border : solid black 1px;
}

#retour_actualites
{

}
#retour_actualites
{
  text-decoration : none;
  color : inherit;
}

.retour_aux_actualites
{
  position : relative;
  left : 10px;
  bottom : 25px;
  font-weight : bold;
}

#content
{
  padding : 10px;
  padding-top : 0;
}
