h2 {
  background-color : #DDDDDD;
  padding : 20px;
  margin-top : 0;
  font-size : 18px;
  text-align : center;
  text-transform : uppercase;
}

a{
  text-decoration : none;
  color : white;
}

#content_news
{
  width : 80%;
  margin : auto;
  margin-top : 30px;
  border : solid black 1px;
}

.link_news a
{
  display : block;
  width : 200px;
  margin : auto;
  text-align : center;
  background-color : #006DF0;
  color : white;
  padding : 10px;
  border-radius : 5px;
  text-align : center;
  box-shadow : 3px 3px 3px black;
  font-variant : small-caps;
}

#content
{
  padding : 10px;
  padding-top : 0;
}

@media screen and (max-width: 640px)
{
  h2
  {
    font-size : 12px;
  }
  #content
  {
    font-size : 10px;
  }
}
