
a{
  text-decoration : none;
  color : white;
}
#news_table {
  width : 80%;
  margin : auto;
  margin-top : 30px;
  border-collapse: collapse;
  font-weight : bold;
  border : black solid 1px;
  box-shadow : black 2px 2px 10px;
}

#news_table td{
  padding : 20px;
}

#news_table tr:nth-child(even)
{
  background-color : #DDD;
}

#news_table a
{
  display : inline-block;
  text-decoration : none;
  color : inherit;
}
.title_preview
{
  cursor : pointer;
}
.important
{
  color : red;
}

.vu
{
  font-weight : normal;
}
.link_inbox a
{
  display : block;
  width : 200px;
  margin : auto;
  background-color : #006DF0;
  color : white;
  padding : 10px;
  border-radius : 5px;
  text-align : center;
  box-shadow : 3px 3px 3px black;
  font-variant : small-caps;
}

@media screen and (max-width: 640px)
{
  tr{
    display : flex;
    flex-flow : row wrap;
  }
  tr>*{
    flex : 1 100%;
    text-align : center;
    padding : 0;
    margin : 0;
  }
  tr td:nth-child(1) { flex:2; order : 3; margin-top : 10px;}
  tr td:nth-child(2) { order : 2;}
  tr td:nth-child(3) { flex:2; order : 1;}

  td{
    font-size : 15px;
  }
}
