#news_table {
  width : 80%;
  margin : auto;
  min-width : 500px;
  border-collapse: collapse;
  border : solid 1px black;
  font-weight : bold;
  box-shadow : black 2px 2px 5px;
}

#news_table td{
  padding : 20px;
}

#news_table tr:nth-child(even)
{
  background-color : #DDD;
}

.important
{
  color : red;
}

.vu
{
  font-weight : normal;
}
