#news_table {
  width : 80%;
  margin : auto;
  min-width : 500px;
  border-collapse: collapse;
  font-weight : bold;
  border : black solid 1px;
  box-shadow : black 2px 2px 10px;
}

#news_table td{
  padding : 20px;
}

#news_table tr:nth-child(even)
{
  background-color : #DDD;
}

#news_table a
{
  display : inline-block;
  text-decoration : none;
  color : inherit;
}
.title_preview
{
  cursor : pointer;
}
.important
{
  color : red;
}

.vu
{
  font-weight : normal;
}
