<p class="link_bookmarks"><a routerLink="/news-fav">accéder à vos favoris</a></p>
<p style="text-align:right;width:88%;font-style:italic">Total : {{ news.length }} actu<span *ngIf="news.length > 1">s</span></p>
<table id="news_table">
  <!-- LU/NON LU - [DATE] - TITRE APPERCU - FAVORI -->
  <tr *ngFor="let news of news.slice().reverse()| paginate: {itemsPerPage:8, currentPage: p}; index as i" [class.vu] = "view_verif(news.id)">
    <td (click)="view_message(news.id)">
      <img *ngIf="!view_verif(news.id)"  src="assets/images/message.png" alt="nouveau message" width="32" height="32"/>
      <img *ngIf="view_verif(news.id)"  src="assets/images/message-lu.png" alt="nouveau message" width="32" height="32"/>
    </td>
    <td>{{ news.public_date | date:"dd/MM/yy"}}</td>
    <td routerLink="/news-content/{{news.id}}" class="title_preview" [class.important] = "news.important">{{ news.title_preview}}</td>
    <td (click)="bookmark(news.id)">
      <img *ngIf="fav_verif(news.id)"  src="assets/images/favori-rempli.png" alt="favori" width="40" />
      <img *ngIf="!fav_verif(news.id)" src="assets/images/favori-vide.png" alt="favori"  width="40" />
    </td>

  </tr>
</table>

<pagination-controls class="pagination" previousLabel="Précédent" nextLabel="Suivant" (pageChange)="p =$event"></pagination-controls>
