#news_table {
  width : 80%;
  min-width : 500px;
  border-collapse: collapse;
  border : solid 1px black;
  font-weight : bold;
}

#news_table td{
  padding : 20px;
}

#news_table tr:nth-child(even)
{
  background-color : #CCC;
}

.important
{
  color : red;
}
